body {
  max-height: 1000000em;
  padding: 0 !important;
}
.m-lr-auto {
  margin-left: auto;
  margin-right: auto;
}
.block{
  display: block !important;
}
.pointer{
  cursor: pointer !important;
}
.content{
  min-height: 80vh;
}
.form-default{
  font-size: 18px;
}
.banner-name{
  font-size: 26px;
  text-align: middle;
  padding: 5px;
}
.hide{
  display: hide !important;
}